@import 'components/app/consts';

.post-static {
  background-color: $color-upper-purple;
  color: $color-dark-white;
  width: 30%;
  padding: 3vh 80px;

  &__title {
    font-size: 32px;
    font-weight: bold;
  }

  &__author {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2vh 0;
    font-size: 25px;

    &-avatar {
      width: 6vh;
      height: 6vh;
      border-radius: 10px;
      border: 1px solid $color-dark-white;
      margin-right: 28px;
    }

    &-nick {
      font-size: 2vh;
      color: $color-pink;
    }
  }

  &__info {
    color: $color-pink;
    font-size: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 14px;

    &-icon {
      width: 3vh;
      height: 3vh;
      margin-right: 12px;
    }
  }

  &__control {
    border-radius: 10px;
    padding: 1vh;
    margin: 2.5vh 6vh;
    background-color: $color-purple;
    text-align: center;
    font-size: 2.5vh;
    cursor: pointer;
  }
}
