@import 'components/app/consts';

.post-static {
  background-color: $color-medium-purple;
  color: $color-dark-white;
  //float: left;
  //position: fixed;
  width: 40%;
  height: 100%;

  &__title {
    font-size: 54px;
    margin: 30px 45px;
  }

  &__author {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto 45px;
    font-size: 25px;

    &-avatar {
      width: 80px;
      height: 80px;
      border-radius: 10px;
      border: 1px solid $color-dark-white;
      margin-right: 16px;
    }

    &-nick {
      font-size: 20px;
      color: $color-pink;
    }
  }

  &__info {
    margin: 30px 45px;
    color: $color-pink;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &-icon {
      width: 40px;
      height: 40px;
      margin-right: 12px;
      margin-bottom: 4px;
    }
  }

  &__control {
    border-radius: 10px;
    padding: 20px 40px;
    margin: 20px 40px;
    background-color: $color-purple;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
  }
}
