@import 'components/app/consts';

.post-static {
  background-color: $color-upper-purple;
  color: $color-dark-white;
  width: 30%;
  padding: 3vh 80px;

  &__inner {
    position: fixed;
    width: inherit;
  }

  &__title {
    font-size: 32px;
    font-weight: bold;
  }

  &__author {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 24px 0;
    font-size: 25px;

    &-avatar {
      width: 60px;
      height: 60px;
      border-radius: 10px;
      border: 1px solid $color-dark-white;
      margin-right: 24px;
    }

    &-nick {
      font-size: 20px;
      color: $color-pink;
      //text-decoration: none;
    }
  }

  &__info {
    color: $color-dark-white;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 14px;

    &-icon {
      width: 28px;
      height: 28px;
      margin-right: 12px;
    }

    &-disliked__icon {
      margin-right: 8px !important;
    }

    &__icon {
      width: 20px;
      height: 20px;
      margin-right: 8px;
      color: $color-dark-white;
    }

    &__text:not(*:last-child) {
      margin-right: 20px;
    }

    &__text {
      color: $color-dark-white;
      margin-right: 5px;
    }
  }

  &__control {
    border-radius: 10px;
    padding: 10px;
    margin: 16px 60px;
    background-color: $color-purple;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
  }

  &__action {
    & .button {
      display: block;
      text-align: center;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
