@import 'components/app/consts.scss';

.paywall {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent 20%, transparent 0%, black, $color-dark-purple);
  padding: 360px 160px 20px 160px;

  &__info {
    font-size: 30px;
    text-align: center;
    color: $color-dark-white;
  }

  &__message {
    &__subscription {
      color: $color-purple;
      font-size: 25px;
      text-align: center;
      margin: 12px 0;
    }
    &__price {
      color: $color-pink;
      font-size: 25px;
      text-align: center;
      margin: 12px 0;
    }
  }

  &__controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &__subscription {
      border-radius: 10px;
      background-color: $color-purple;
      text-align: center;
      font-size: 22px;
      cursor: pointer;
      margin: 20px auto;
      width: 320px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__price {
      border-radius: 10px;
      background-color: $color-pink;
      text-align: center;
      font-size: 22px;
      cursor: pointer;
      margin: 20px auto;
      width: 320px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
