
@import 'components/app/consts';

.select {
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    color: $color-dark-white;
    padding: 10px 100px 10px 40px;
    background: url('../../../assets/img/select-arrow.svg') 96% / 5% no-repeat;
    border: 2px solid $color-purple ;
    border-radius: 10px;

    option {   
        background-color: $color-upper-purple !important;
        outline: none;
        border: transparent;
    }
    
    option:checked { 
        background: $color-purple !important;
    }
}

.select::-ms-expand {
    display: none;
}
