@import 'components/app/consts';

.header {
  height: 60px;
  background-color: #1A082C;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  position: fixed;
  z-index: 2;
  width: 100%;

  &-left {
    display: flex;
    padding-left: 40px;

    & > * {
      margin-right: 60px;
    }
  }

  &-right {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    padding-right: 20px;

    & > * {
      margin-left: 12px;
    }
  }

  &-logo {
    padding: 0 4px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
  }

  &-exit {
    padding: 0 4px;
    display: flex;
    align-items: center;
    border-bottom: 4px solid transparent;
    cursor: pointer;
  }

  &-create {
    padding: 0 4px;
    display: flex;
    align-items: center;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
  }

  &-button {
    padding: 0 4px;
    display: flex;
    align-items: center;
    border-bottom: 4px solid transparent;
    transition: .3s;
    text-decoration: none;
    white-space: nowrap;

    &__main {
      border-radius: 10px;
      border: 1px solid $color-pink;
      margin: 8px 0;
      height: auto;
      padding: 0 5%;
      white-space: nowrap;

      & > * {
        color: $color-pink;
      }
    }

    &.active, &:hover {
      border-bottom: 4px solid $color-pink;
      box-sizing: border-box;
      transition: .3s;
      cursor: pointer;

      & > * {
        color: $color-pink;
      }
    }
  }
}

.logo {
  width: 140px;
  height: 60px;
}

.user {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid $color-dark-white;
  margin-left: 8px;
}

.exit {
  width: 30px;
  height: 30px;
}
