@import 'components/app/consts';

#post_form {
    height: 100%;
    display: flex;
    flex-direction: row;

    .input-label, .select-label, .file-label, 
    .textarea-label, .price-label {
        font-size: 22px;
        margin-bottom: 10px;
    }
}

#post_form iframe {
    width: 100%;
    height: 500px;
}

.form {
    &__inputs {
        width: 65%;
    }
    &__controls {
        width: 35%;
    }
    &-input, &-control {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    &-input:last-child,
    &-control:last-child {
        margin-bottom: 0;
    }

    &__controls {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-input {
        .file-button{
            border-radius: 10px;
            background-color: #6549B8;
            text-align: center;
            font-size: 26px;
            cursor: pointer;
            height: 64px;
            width: 390px;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            border-color: transparent;
            color: #F2F2F2;
        }

        &__error {
            display: block;
            color: red;
            margin: 2px;
            animation: fadeOut .2s ease-in;

            &.no-subscriptions {
                align-self: flex-start;
                padding-left: 110px;
            }

            &.sum-error{
                align-self: flex-start;
            }
        }
    }

    &-control {
        width: 70%;
        margin-top: 10px;

        .button {
            border-radius: 10px;
            background-color: $color-pink;
            text-align: center;
            font-size: 26px;
            cursor: pointer;
            margin: 10px 0;
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            border-color: transparent;
            color: $color-dark-white;
            margin-bottom: 8px;
        }

        &__select {
            font-size: 20px;

            option {
                font-size: 20px;
            }
        }
    }
}

.input-title {
    input {
        padding: 0 10px;
        height: 40px;
    }
}

.input-description {
    textarea {
        padding: 10px 10px;
        height: 200px;
    }
}

.input-teaser {
    textarea {
        padding: 10px 10px;
        height: 115px;
    }
}

.control-price__input {
    display: flex;
    align-items: center;

    .input {
        border-radius: 10px;
        font-size: 16px;
        outline: none;
        margin-right: 8px;
        border-color: transparent;
        padding: 0 10px;
        height: 40px;
        width: 100%;
    }

    .input-error {
        transition: border 0.2s ease-in;
        border: 2px solid red;
    }

    .number-label {
        font-size: 40px;
    }
}

.disabled {
    opacity: 0.6;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.rdw-embedded-wrapper img {
    height: 26px !important;
    width: 21px !important;
}

.rdw-music-custom-option img {
    height: 26px !important;
    width: 21px !important;
    opacity: 0.8;
}

.rdw-editor-toolbar {
    margin-bottom: 0 !important;
    border-radius: 10px 10px 0 0;  
    color: black;
}

.rdw-editor-main {
    overflow: hidden;
}

.input-description__editor {
    background-color: white;
    padding: 0 10px;
    height: 370px;
    border-radius: 0 0 10px 10px;    
    color: black;
    overflow: auto;
    -ms-overflow-style: none;
}

.input-description__editor::-webkit-scrollbar {
    display: none;
}

.rdw-editor-wrapper {
    border-radius: 10px;
    margin-right: 10px;
}

.rdw-image-imagewrapper {
    overflow-x: hidden;
    overflow-y: hidden;    
}

.rdw-image-imagewrapper img {
    height: auto;
    width: 100%;  
}

figure {
    margin: 0;
}

.rdw-image-modal-size {
    display: none !important;
}

.music__control {
    display: flex;
    flex-direction: column;
}

.audio-player {
    outline: none;
    width: 100%;
    padding: 16px 0;
}

.rdw-link-decorator-icon {
    display: none;
}

.rdw-link-decorator-wrapper a {
    cursor: pointer;
    color: $color-pink;
}

.rdw-link-decorator-wrapper a span {
    color: $color-pink !important;
}

// Убрала бесполезную область на превью загрузки картинок, пока не починим урлы
.rdw-image-modal-header {
    display: none;
}

#post_form span {
    font-size: 18px;
    color: black !important;
    background-color: transparent !important;
}


