@font-face {
  font-family: 'Avenir-Next';
  src: url('/src/assets/fonts/Avenir-Next.ttf');
}

$color-dark-purple: #1A082C;
$color-upper-purple: #220E3D;
$color-medium-purple: #371861;
$color-purple: #6549B8;
$color-grey: #737373;
$color-dark-white: #F2F2F2;
$color-pink: #FF6982;

$font-title: 'Avenir-Next';

$card-size: 150px;
$card-margin: 20px;
$card-row-count: 5;
