@font-face {
  font-family: 'Avenir';
  src: url('/src/assets/fonts/Avenir-Book.ttf') format('truetype');
}

$color-purple: #1A082C;
$color-grey-active: #F2F2F2;
$color-grey: #737373;
$color-white-purple: #6549B8;
$font-title: Avenir;
