.postjn-modal__submit {
    background-color: #FF6982;
    color: #F2F2F2;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-family: "Avenir-Next";
    width: 100%;
    padding: 10px;
}