@import 'components/app/consts';

.post-modal {
    &__title-text, 
    &__price-text {
        font-size: 22px;
        margin-bottom: 8px;
    }

    &__title, 
    &__price {
        padding: 10px 0;
        font-size: 20px;
    }

    &__submit {
        background-color: $color-pink;
        color: $color-dark-white;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        cursor: pointer;
        width: 100%;
        padding: 10px;
    }

    &__subtitle {
        color: $color-grey;
        margin-bottom: 12px;
        font-size: 18px;
    }

    &__warning {
        opacity: 0.3;
        font-size: 12px;
        margin-bottom: 12px;
    }
}
