@import 'components/app/consts.scss';

.donat-form {
  border-radius: 10px;
  border: 2px solid $color-purple;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-title;
  font-size: 16px;

  &__label {
    color: $color-dark-white;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__author {
    color: $color-pink;
  }

  &__choose-count {
    display: flex;
    margin-top: 20px;
  }

  &__donut {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-picture {
      width: 60px;
      height: 60px;
    }
  }

  &__multi {
    color: $color-pink;
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
  }

  &__input {
    border-radius: 10px;
    border: 2px solid $color-pink;
    width: 50px;
    height: 40px;
    margin: 10px 0;
    font-weight: bold;
    color: $color-dark-purple;
    text-align: center;
    background-color: $color-dark-white;

    &:focus {
      outline: none;
    }
  }

  &__counts {
    display: flex;
    margin: 10px 0 10px 30px;
  }

  &__count {
    color: $color-pink;
    font-weight: bold;
    border-radius: 50px;
    border: 2px solid $color-pink;
    background-color: $color-dark-white;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 12px;
    }

    &__active {
      background-color: $color-pink;
      color: $color-dark-white;
    }
  }

  &__message {
    width: 100%;
    border: 2px solid $color-purple;
    border-radius: 10px;
    color: $color-dark-purple;
    padding: 15px;
    font-size: 14px;
    font-family: $font-title;
    box-sizing: border-box;
    margin: 12px auto;
    resize: none;

    &:focus {
      outline: none;
    }
  }

  &__submit {
    background-color: $color-pink;
    color: $color-dark-white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-family: $font-title;
    width: 100%;
    padding: 10px;
  }
}
