@import 'components/app/consts';

.layout-collections {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $color-dark-purple;

    &__loader {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }
}

.continue {
    background-color: $color-dark-purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-dark-white;
    font-size: 20px;
    padding-bottom: 90px;

    &__title {
        margin-bottom: 12px;
    }
}
