@import 'components/app/consts';

.subscription-header {
    margin-bottom: 20px;
    font-size: 30px;
}

#subscription_form {
    height: 100%;
    display: flex;
    flex-direction: row;

    .input-label, .select-label, .file-label, 
    .textarea-label, .price-label {
        font-size: 22px;
        margin-bottom: 10px;
    }

       // redefinition Material design

   .MuiSvgIcon-root {
        height: 2em !important;
        width: 2em !important;
        padding-top: 0 !important;
    }

    .MuiFormControlLabel-root {
        margin: 0 8px 0 0;
    }

    .MuiTypography-body1 {
        font-family: inherit !important;
    }

    .MuiIconButton-root {
        padding: 0 !important;
    }

    .MuiFormControlLabel-label {
        font-size: 20px;
    }

    
    .form {
        &__subscriptions {
            height: 940px;
            width: auto;
            padding: 0 50px;

            &-title {
                text-align: center;
                padding: 0 25px 25px 0;
                font-size: 30px;
                margin-left: 50px;
            }

            &-items {
                height: 940px;
                overflow-y: auto;
                overflow-x: hidden;
                width: 430px;
            }
        }

        &__inputs {
            width: 60%;
        }
        &-input, &-control {
            display: flex;
            margin-bottom: 10px;
        }

        &-input:last-child,
        &-control:last-child {
            margin-bottom: 0;
        }

        &__controls-subscription {
            display: flex;
            flex-direction: column;
        }

        &-input {
            flex-direction: column;

            input, textarea {  
                border-radius: 10px;
                font-size: 16px;
                outline: none;
                margin-right: 8px;
                border-color: transparent;
            }


            .file-button{
                border-radius: 10px;
                background-color: #6549B8;
                text-align: center;
                font-size: 26px;
                cursor: pointer;
                height: 64px;
                width: 390px;
                display: flex;
                align-items: center;
                justify-content: center;
                outline: none;
                border-color: transparent;
                color: #F2F2F2;
            }
        }

        &-control {
            width: 100%;
            margin-top: 10px;
            flex-direction: row;

            > .button {
                border-radius: 10px;
                background-color: $color-pink;
                text-align: center;
                font-size: 26px;
                cursor: pointer;
                margin: 10px 0;
                height: 64px;
                display: flex;
                align-items: center;
                justify-content: center;
                outline: none;
                border-color: transparent;
                color: $color-dark-white;
                margin-bottom: 8px;
                width: 100%;
            }

            &__select {
                font-size: 20px;

                option {
                    font-size: 20px;
                }
            }
        }
    }

    .input-title {
        input {
            padding: 0 10px;
            height: 40px;
        }
    }

    .input-description {
        textarea {
            padding: 10px 10px;
            height: 290px;
            margin: 0 !important;
        }
    }

    .control-price__input {
        display: flex;
        align-items: center;

        input {
            border-radius: 10px;
            font-size: 16px;
            outline: none;
            margin-right: 8px;
            border-color: transparent;
            padding: 0 10px;
            height: 40px;
            width: 100%;
        }

        .number-label {
            font-size: 40px;
        }
    }

}

.disabled {
    opacity: 0.6;
}

.text-price {
    font-size: 20px;
}
