@import 'components/app/app.scss';

.author-posts {
  display: flex;
  flex-direction: column;
  width: 40%;

  &__title {
    font-size: 24px;
    margin-bottom: 12px;
  }

  &__selector {
    font-size: 18px;
    width: 94%;
  }

  &__body {
    margin-top: 12px;
  }
}
