@import 'components/app/consts';

.cards {
  background-color: $color-dark-purple;
  margin-top: 40px;
  padding: 60px 120px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 4em;
}
