@import 'components/app/consts';

.cards {
  background-color: $color-dark-purple;
  display: flex;
  flex-direction: column;
  padding: 0 20px;  
  height: 100%;

  &__title {
    padding: 27px 120px;
    color: $color-dark-white;
    font-size: 55px;
  }

  &__content {
    padding: 10px 120px 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 4em;
  }
}

.card {
  width: 360px;
  transition: all .2s ease-out;
  border-radius: 10px;
  text-decoration: none;

  &__date {
    text-decoration: none;
    color: $color-dark-white;
  }

  &__preview {
    width: 360px;
    height: 360px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
  }

  &__info {
    background: linear-gradient(to bottom, $color-dark-purple, $color-medium-purple);
    padding: 12px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__title {
    color: $color-dark-white;
    font-size: 32px;
    text-align: center;
  }

  &__extra-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4px 8px;
  }

  &:hover {
    transform: translateY(-6px);
    transition: all .2s ease-out;
    box-shadow: 0 16px 16px 0 $color-grey;
  }
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__avatar {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid $color-dark-white;
    margin-right: 8px;
  }

  &__name {
    color: $color-dark-white;
    font-size: 24px;
  }
}

.subscribers {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__count {
    color: $color-dark-white;
    font-size: 24px;
    margin-left: 8px;
  }
}
